<div class="comments">
    {{#each this}}
    <section class="comment">
        <div>
            {{User.username}}{{created_at}}
        </div>
        <div>
            {{comment_text}}
        </div>
    </section>
    {{/each}}
    
</div>