<div>
    <h3 class="">login:</h3>
    <form>
        <div>
            <label for="">email:</label>
            <input type="text"/>
        </div>

        <div>
            <label for="">password:</label>
            <input type="password"/>
        </div>

        <div>
            <button type="submit">login</button>
            <a href="/signup"><button type="button">signup</button></a>
        </div>
    </form>
</div>

<script src="/public/javascript/login.js"></script>